MQTT_BROKER = your broker name
MQTT_PORT = 8883
MQTT_USERNAME = your username
MQTT_PASSWORD = your password
INFLUXDB_TOKEN= your influxdb token
INFLUXDB_ORG= your influxdb org name
INFLUXDB_BUCKET= your influxdb bucket name